<link rel="stylesheet" href="/css/header.css">
<header>
    <a href="/">Home</a>
    <div>
    <form action="create-project" method="POST"> 
        <h1>New Project-Details</h1>
        <input type="text" name="name" placeholder="Name: ">
        <input type="text" name="author" placeholder="Author ">
        <br>
        <textarea  name="description" placeholder="Description: " rows="4" cols="50"></textarea>
        
        <br> <br>
        
        <button type="submit">ADD Project</button>
        </form> 
        </div>
</header>